
<div class="container" *ngIf="!isLoading; else spinner">
  <div class="row">
    <div class="images col-xs-7 col-sm-7 col-md-7 col-lg-7"></div>
    <div class="col-xs-hidden-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <mat-card class="login-card">
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="container" autocomplete="false">
            <div class="logo"></div>

            <div class="logo-text">
              <p>Sign In</p>
            </div>

            <mat-form-field class="form-group">
              <input matInput class="text-capitalize" required="required" placeholder="Username"
                formControlName="username" autocomplete="off" />
              <mat-icon matSuffix class="colored-icon">
                supervised_user_circle
              </mat-icon>
            
            </mat-form-field>

            <mat-form-field class="form-group">
              <input matInput type="{{ defaultPassType }}" matTooltipClass="tooltip-colored" formControlName="password"
                placeholder="Password" autocomplete="new-password" required />
                <mat-icon
                matSuffix
                matTooltip="show password"
                matTooltipClass="tooltip-colored"
                (click)="changePassIcon()" class="colored-icon">{{defaultPassIcon}}</mat-icon>
            </mat-form-field>
            <!-- <input type="hidden" formControlName="platform" /> -->

            <mat-card-actions>
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
                <div class="mybtn col-xs-10 col-sm-10 col-md-10">
                  <button [disabled]="!loginForm.valid" type="submit" mat-raised-button color="primary"
                    class="btn text-white text-uppercase btn-block btn-sm">
                    Login
                  </button>
                </div>
              </div>
            </mat-card-actions>



          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<ng-template class="spinner-template" #spinner>
  <!-- <mat-spinner class="mat-spin" color="accent"></mat-spinner> -->
  <!-- <mat-progress-spinner class="progressSpinner" [color]="myCustomColor" [value]="myCustomValue">
  </mat-progress-spinner> -->

  <div class="loggin-in-text">Logging...</div>
</ng-template>